opencv-python
scikit-learn
tensorflow

Download the data set for this project and unzip it. Move the resulting gtsrb directory inside of your traffic directory
    the link: https://cdn.cs50.net/ai/2020/x/projects/5/gtsrb.zip
    